{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Customer
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_customer' %}" role="button">+ Add Customer</a> <br/>&nbsp;
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Customer Name</th>
                                <th>Type</th>
                                <th>Province</th>
                                <th>Phone</th>
                                <th>Status</th>
 
                                {% comment %} <th>Profile Pic</th> {% endcomment %}
                                <th>Customer Email</th>
                                <th>Last Login</th>
                                <th>Date Joined</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.customer_name }}</td>
                                <td>{{ customer.customer_type }}</td>
                                <td>{{ customer.province }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.customer_status }}</td>
                                
                                {% comment %} <td> <img src="{{ customer.profile_pic }}" style="width: 100px;" /> </td> {% endcomment %}
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.admin.last_login }}</td>
                                <td>{{ customer.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_customer' customer.admin.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_customer' customer.admin.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}