{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Grant Amortization Schedule & Volume Capture
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                        <div class="small-box bg-light">
                            <div class="inner">
                            
                                <form method="GET" action=".">                                               
                                    <div class="form-group col-12">
                                        <div class="input-group">
                                            <select id="customer_name_contains" class="form-control" name="customer_name_contains">
                                                <option selected>Select Customer Name...</option>
                                                {% for customer in customers %}
                                                    <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>   
                                    </div>  
    
                               
                                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i> Search</button>
                            </form>
            
                            </div>
                            <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="{% url 'manage_grant' %}" class="small-box-footer"><b>Clear Search (All Customers) </b>     <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    
                </div>    <!-- ./col -->

                <div class="col-lg-3 col-6">
                <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h4>{{ total_volume_actual|floatformat:2 }}</h4> 

                            <p>Total Volume Actual (Tones) </p>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'manage_grant' %}" class="small-box-footer"><b>Grants</b>     <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                        <h4>R {{ total_amount_amortized|floatformat:2 }}</h4> 
        
                        <p>Total Amount Amortized (R) </p>
        
                        </div>
                        <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'manage_grant' %}" class="small-box-footer"><b>Grants Amortized</b>     <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                            <h4>R {{ total_amount_impaired|floatformat:2 }}</h4> 
            
                            <p> Total Amount Impaired (R) </p>
            
                            </div>
                            <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="{% url 'manage_grant' %}" class="small-box-footer"><b>Grant Repayments</b>     <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                
            </div>    <!-- ./col -->



            <p><a class="btn btn-success" href="{% url 'add_volume' %}" role="button"><i class="fas fa-plus"></i>  Capture New Volume</a> <br/>&nbsp;</p>
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Grant Amortization Schedule / Volume Details</h3> &nbsp &nbsp<small>{{customer_name_contains}} Id Filtered</small>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
    
                                    <th>Disb. Code</th>
                                    <th>Grant Amount</th>
                                    <th>Report Month-Year</th>

                                    <th>Vol. Mnthly Target</th>
                                    <th>Vol. Mnth Actuals</th>
                                    
                                    <th>Monthly Amt.</th>
                                    <th>Grant Amortized </th>
                                    <th>Grant Impaired</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for grant in grants %}
                                <tr>
                                    <td>{{ grant.id }}</td>
                                    <td>{{ grant.customer_id.customer_name }}</td>
                                    <td>{{ grant.disbursement_id.disbursement_code }}</td>
                                    <td>R{{ grant.disbursement_id.disbursement_amount|floatformat:2 }}</td>
                                    <td>{{ grant.volume_report_month }} - {{ grant.volume_report_year }} </td>
                                   
                                    <td>{{ grant.disbursement_id.contract_monthly_target }}</td>
                                    <td>{{ grant.total_volume_kg|floatformat:2 }}</td>
                                    
                                    <td>R{{ grant.disbursement_id.disbursement_monthly_repayment_amount|floatformat:2 }}</td>
                                    <td><span class="info-box-text text-center text-green">R{{ grant.amount_amortized|floatformat:2}}</span></td> 
                                    <td><span class="info-box-text text-center text-red">R{{ grant.amount_impaired|floatformat:2 }}</span></td>
    
                                    <td>
                                        <a href="{% url 'detail_volume' grant.id %}" class="btn btn-primary">Details</a> 
                                        <a href="{% url 'edit_volume' grant.id %}" class="btn btn-success">Edit</a> 
                                        <a href="{% url 'delete_volume' grant.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}