{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Customers
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">



        <!-- Small boxes (Stat box) -->
        <div class="row">
            
            <div class="col-lg-3 col-6">
                <!-- small box -->
                    <div class="small-box bg-light">
                        <div class="inner">
                        
                            <form method="GET" action=".">                                               
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <select id="customer_name_contains" class="form-control" name="customer_name_contains">
                                            <option selected>Select Customer Name...</option>
                                            {% for customer in customers %}
                                                <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>   
                                </div>  

                           
                            <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i> Search</button>
                        </form>
        
                        </div>
                        <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'manage_customer' %}" class="small-box-footer"><b>Clear Search (see all customers) </b>     <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                
            </div>    <!-- ./col -->

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ all_customer_count }}</h3> 

                        <p>{{ customer_count_active }} Active </p>

                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'manage_customer' %}" class="small-box-footer"><b>Total Customers</b>     <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ customer_count_collector }}</h3> 
        
                        <p>Total Collectors </p>
        
                    </div>
                    <div class="icon">
                         <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'manage_customer' %}" class="small-box-footer"><b>Collectors</b>     <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ customer_count_recycler }}</h3> 
            
                            <p> Total Recyclers </p>
        
                        </div>
                        <div class="icon">
                             <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'manage_customer' %}" class="small-box-footer"><b>Recyclers</b>     <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
            </div>
            <!-- ./col -->
        </div>    
                

 



        <div class="row">
           <p> <a class="btn btn-success" href="{% url 'add_customer' %}" role="button"><i class="fas fa-plus"></i> Add Customer</a> <br/>&nbsp;</p>          
        </div>
    








            
            {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer Details</h3> &nbsp &nbsp <small>{{ customer_name_contains }} Id Filtered </small>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Customer Name</th>
                                <th>Type</th>
                                <th>Province</th>
                                <th>Phone</th>
                                <th>Status</th>
 
                                {% comment %} <th>Profile Pic</th> {% endcomment %}
                                <th>Customer Email</th>
                                <th>Last Login</th>
                                <th>Date Joined</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.customer_name }}</td>
                                <td>{{ customer.customer_type }}</td>
                                <td>{{ customer.province }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.customer_status }}</td>
                                
                                {% comment %} <td> <img src="{{ customer.profile_pic }}" style="width: 100px;" /> </td> {% endcomment %}
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.admin.last_login }}</td>
                                <td>{{ customer.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_customer' customer.admin.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_customer' customer.admin.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
 
  {% endblock main_content %}