{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Overviews
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h4>{{ all_customer_count|floatformat:0  }}</h4> 
      
                        <p>{{ customer_count_active|floatformat:0 }} Active </p>
      
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{% url 'manage_customer' %}" class="small-box-footer"><b>Customers</b> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                      <div class="inner">
                        <h4>R {{ total_disbursement_amount|floatformat:2 }}</h4>
      
                        <p> Loan: R{{ total_disbursement_loan_amount|floatformat:2 }} Grant: R{{total_disbursement_grant_amount|floatformat:2 }}</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{% url 'manage_disbursement' %}" class="small-box-footer"><b>Disbursements</b> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h4>R{{ total_repayment_amount|floatformat:2 }}</h4>
      
                        <p>Loans paid: R{{ total_repayment_loan_amount|floatformat:2 }} Grants paid: R{{ total_repayment_grant_amount|floatformat:2 }}</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{% url 'manage_repayment' %}" class="small-box-footer"> <b>Repayments</b> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                            <h4>R{{ total_fund_balance|floatformat:2 }}</h4> 
            
                            <p> Fund Balance:  {{ percentage_fund_balance|floatformat:2 }}% </p>
            
                            </div>
                            <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="{% url 'manage_repayment' %}" class="small-box-footer"><b>Fund Balance</b>  <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
            </div>    <!-- ./col -->

            <P> 
                <a class="btn btn-app" href="{% url 'add_customer' %}">
                    <span class="badge bg-purple">{{ all_customer_count|floatformat:2 }}</span>
                    <i class="fas fa-users"></i> Add Customer
                </a>
                <a class="btn btn-app" href="{% url 'add_disbursement' %}">
                    <span class="badge bg-success">{{ all_disbursement_count|floatformat:2 }}</span>
                    <i class="fas fa-arrow-up"></i> Add Disbursement
                </a>
                <a class="btn btn-app" href="{% url 'add_repayment' %}">
                    <span class="badge bg-success">{{ all_repayment_count|floatformat:2 }}</span>
                    <i class="fas fa-coins"></i> Add <b>Loan</b> Repayment
                </a>
                <a class="btn btn-app" href="{% url 'add_volume' %}">
                    <span class="badge bg-success">{{ all_repayment_count|floatformat:2 }}</span>
                    <i class="fas fa-money-bill"></i> Add <b>Grant/Volume</b> Repayment
                </a>
                {% comment %} <a class="btn btn-primary" href="{% url 'add_repayment' %}" role="button">+ Add Repayment</a> <br/>&nbsp; {% endcomment %}
            </P>

            
            
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


                            

   



            <div class="row">
                <div class="col-md-3">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Select Customer</h4>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-3">

                            <form method="GET" action=".">                                               
                                    <div class="form-group col-12">
                                        <div class="input-group">
                                            <select id="customer_name_contains" class="form-control" name="customer_name_contains">
                                                <option selected>Select Customer Name...</option>
                                                {% for customer in customers %}
                                                    <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>   
                                    </div>  

                                    {% comment %} <div class="form-group col-md-12">
                                        <div class="input-group">
                                          
                                            <select id="province_list_contains" class="form-control" name="province_list_contains">
                                                <option selected>Choose Province...</option>
                                                {% for customer in customers %}
                                                    <option value="{{ customer.province }}">{{ customer.province }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-12">
                                        <div class="input-group">
                                            <input class="form-control py-2 border-right-0 border" type="search" name="disbursement_code_contains" placeholder="Disbursement code contains.." />
                                            <span class="input-group-append">
                                                <div class="input-group-text bg-transparent">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </span>
                                        </div>
                                    </div>  {% endcomment %}
                                
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a href="{% url 'overview' %}" class="btn btn-secondary">Clear / Reset Selection</a>
                            </form>

                            
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>

                {% comment %} disbursement table {% endcomment %}
                <div class="col-md-9">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Disbursement  </h4> &nbsp&nbsp <small> client ID: {{ customer_name_contains }} selected</small>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                
                                        <th>ID</th>
                                        <th>Customer Name</th>
                                        <th>Disbrused Date</th>
                                        <th>Disbrused Code</th>
                                        <th>Disbrused type</th>
                                        <th>Disbursed Amt</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                    
                                    {% for disbursement in disbursements %}
                                        <tr>             
                                            <td>{{ disbursement.id }}</td>
                                            <td>{{ disbursement.customer_id.customer_name }}</td>
                                            <td>{{ disbursement.disbursement_date }}</td>
                                            <td>{{ disbursement.disbursement_code }}</td>
                                            <td>{{ disbursement.disbursement_type }}</td>
                                            <td>R{{ disbursement.disbursement_amount|floatformat:2 }}</td>                           
                                            <td>
                                                <a href="{% url 'detail_disbursement' disbursement.id %}" class="btn btn-primary">Details</a> 
                                                <a href="{% url 'edit_disbursement' disbursement.id %}" class="btn btn-success">Edit</a> 
                                                <a href="{% url 'delete_disbursement' disbursement.id %}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>                                
                                    {% endfor %}                   
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                {% comment %} repayments table {% endcomment %}
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly <b>Loan</b> Repayments</h4> &nbsp&nbsp <small> client ID: {{ customer_name_contains }} selected</small>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Disbursement Code</th>
                                    <th>Repayment Date</th>
                                    <th>Mthly. Contrt Trgt.</th>
                                    <th><b>Actual</b> Vol.</th>
                                    <th>Repayment Amt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for repayment in repayments %}
                                <tr>
                                    <td>{{ repayment.id }}</td>
                                    <td>{{ repayment.customer_id.customer_name }}</td>
    
                                    <td>{{ repayment.disbursement_id.disbursement_code }}</td>
                                    <td>{{ repayment.repayment_date }}</td>
                                    <td>{{ repayment.disbursement_id.contract_monthly_target }} </td>                                                  
                                    <td>{{ repayment.actual_volume_tone|floatformat:2 }}</td>
                                    <td>R{{ repayment.repayment_amount|floatformat:2  }}</td>                         
                                    <td>
                                        <a href="{% url 'detail_repayment' repayment.id %}" class="btn btn-primary">Details</a> 
                                        <a href="{% url 'edit_repayment' repayment.id %}" class="btn btn-success">Edit</a> 
                                        <a href="{% url 'delete_repayment' repayment.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>


                <!--Grant / Volume Collections Detail Table -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly <b>Volume / Grant</b> Allocations </h4> &nbsp&nbsp <small> client ID: {{ customer_name_contains }} selected</small>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Disbursement Code</th>

                                    <th>Grant Amount</th>
                                    <th>Reported Date</th>
                                    <th><b>Target</b> Month Vol.</th>
                                    <th><b>Actual</b> Month Vol.</th>
                                    <th>Grant Amortized</th>
                                    <th>Grant Impaired</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for grant in grants %}
                                <tr>
                                    <td>{{ grant.id }}</td>
                                    <td>{{ grant.customer_id.customer_name }}</td>
                                    <td>{{ grant.disbursement_id.disbursement_code }}</td>

                                    <td>R{{ grant.disbursement_id.disbursement_amount|floatformat:2 }}</td>
                                    <td>{{ grant.volume_report_date }}</td>
                                    <td>{{ grant.disbursement_id.contract_monthly_target|floatformat:2 }} </td>                                                  
                                    <td>{{ grant.total_volume_kg|floatformat:2  }}</td>
                                    <td>R{{ grant.amount_amortized|floatformat:2 }}</td>     
                                    <td>R{{ grant.amount_impaired|floatformat:2 }}</td>                     
                                    <td>
                                        <a href="{% url 'detail_volume' grant.id %}" class="btn btn-primary">Details</a> 
                                        <a href="{% url 'edit_volume' grant.id %}" class="btn btn-success">Edit</a> 
                                        <a href="{% url 'delete_volume' grant.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>

            </div>

        </div><!-- /.container-fluid -->
      </section>

        
  {% endblock main_content %}

  










